*{
    background-color: rgb(24, 24, 39);
}

.title, .subtitle{
    color: aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem;
}

.players{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 10%;
    margin: 2rem;
}

input{
    color: white;
    background-color: rgb(46, 47, 63);
    display: flex;
    margin: auto;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
}

input:hover{
    background-color: rgb(78, 80, 100);
}